OPENAI_API_KEY=
GEMINI_API_KEY=
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
OPENAI_MODEL=gemini-3.5-flash
EMBEDDING_MODEL=gemini-embedding-001
ELEVENLABS_API_KEY=
TELEGRAM_BOT_TOKEN=
MONGODB_CONNECTION_STRING=
QDRANT_API_KEY=
QDRANT_URL=
COMET_API_KEY=
